<nav class="org-nav"> 
   <div class="org-nav-right">
            <a class="social-link social-link-washu" href="https://wustl.edu" target="_blank" rel="noopener">Washington University in St. Louis</a><br>
            <a class="social-link social-link-dbbs" href="http://dbbs.wustl.edu" target="_blank" rel="noopener">Division of Biology & Biomedical Sciences</a><br>
            <a class="social-link social-link-biol" href="https://wubio.wustl.edu" target="_blank" rel="noopener">Department of Biology</a><br>

    </div>
</nav>
