---
layout: default
current: 
title: People
cover: false
class: 'author-template'
navigation: True
label: Another
---

{% include base.html %}
<!-- < default -->
<!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template -->

<!-- The big featured header, it uses blog cover image as a BG if available -->
<header class="site-header outer" style="background-image:  url( ../{{ site.cover }} )">
    <div class="inner">
        <div class="site-header-content">
            <h1 class="site-title">
                {% if site.logo %}
                    <img class="site-logo" src="{{ site.baseurl }}{{ site.logo }}" alt="{{ site.title }}"/>
                {% else %}
                    {{ site.title }}
                {% endif %}
            </h1>
            <h2 class="site-description">{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}</h2>
        </div>
        {% include site-nav.html %}
    </div>
</header>

<!-- The main content area -->
<main id="site-main" class="site-main outer" role="main">
    <div class="inner">
    <br>
        <!-- render the Markdown content of home/index.md the front page -->
        {{ content }}
        <!--<table table-layout="fixed" style="margin: auto" width="900px">-->

        <!-- CURRENT MEMBERS -->
        <div style="width:100%; margin-left:auto; margin-right:auto">
            <h2>Current members</h2>
        </div>
        <table>
            <colgroup>
                <col style="width:170px">
                <col>
            </colgroup>
            {% for person in site.data.people %}
                <tr>
                    <table>
                    <td markdown="span" width=130>
                        <img src="../assets/people/img/{{ person[1].picture }}" style="float: left; margin:0px 0px 0px 0px" class="img-people">
                    </td>
                    <td markdown="span">
                        <br>
                        <div id="{{ person[1].username }}">
                        {% if person[1].name %}
                            <b>{{ person[1].name }}</b>
                            {% if person[1].cv %}
                                [<a href="{{ person[1].cv }}">CV</a>]
                            {% endif %}
                        {% endif %}
                        </div>
                        <div>
                        {% if person[1].position %}
                            <i>{{ person[1].position }}</i>
                        {% endif %}
                        </div>
                        <div>
                            {% if person[1].email %}
                                <a class="social-link-people" color="#000" href="mailto:{{ person[1].email }}" target="_blank" rel="noopener">{% include email.html %}</a>
                            {% endif %}
                            {% if person[1].twitter %}
                                <a class="social-link-people" color="#000" href="https://twitter.com/{{ person[1].twitter }}" target="_blank" rel="noopener">{% include twitter.html %}</a>
                            {% endif %}
                        </div>
                    </td>
                    </table>
                </tr>
                <tr>
                    <td>
                        <div>
                            {% if person[1].bio %}
                                {{ person[1].bio }}
                            {% endif %}
                        </div>
                    </td>
                </tr>
                <div style="height:40px;"></div>
            {% endfor %}
        </table>

        <!-- PAST MEMBERS -->
        <div style="width:100%; margin-left:auto; margin-right:auto">
            <h2>Past members</h2>
        </div>
        <table>
            <colgroup>
                <col style="width:170px">
                <!-- <col> -->
            </colgroup>
            {% for person in site.data.alumni %}
                <tr>
                    <table>
                    <td markdown="span" width="130">
                        <img src="../assets/people/img/{{ person[1].picture }}" style="float: left; margin:0px 10px 0px 0px" class="img-people">
                    </td>
                    <td markdown="span">
                        <br>
                        <div id="{{ person[1].username }}">
                        {% if person[1].name %}
                            <b>{{ person[1].name }}</b>
                        {% endif %}
                        </div>
                        <div>
                        {% if person[1].position %}
                            <i>{{ person[1].position }}</i>
                        {% endif %}
                        </div><br>
                    </td>
                    </table>
                </tr>
                <tr>
                    <td> 
                        <div>
                            {% if person[1].bio %}
                                {{ person[1].bio }}
                            {% endif %}
                        </div>
                    </td>
                </tr>
                <div style="height:40px;"></div>

            {% endfor %}
        </table>

        <br><br>
    </div>
</main>
